@media screen and (max-width: 767px) {

#wrapper{
    width: 250px;
}
.header{
    width:250px;
} 
.right{
    width:100px;
}
.footer{
    width:250px;
}

}

@media screen and (max-width: 479px) {

#wrapper{
    width: 150px;
}
.header{
    width: 150px;
} 
.left {
    float:none;
}
.right{
    float:none;
    width: 150px;
}
.footer{
    width: 150px;
}
        

}