#wrapper{
    width: 400px;
    height: 450px;
}
.header{
    position:relative;
    width: 400px;
    height: 100px;
    background-color: #141f40;
}
.header-class{
    position:absolute;
    width:  160px;
    height: 60px;
    top: 20px;
    right: 20px;
}
.box{
    float:right;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
}
.box:first-child{
    float:right;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border-right: 10px solid white;
}
.left{
    float:left;
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}
.right{
    float:right;
    width: 250px;
    height: 250px;
    background-color: #8c2727
}
.right-class{
    position:relative;
    margin: 40px 60px 40px 40px;
    width: 150px;
    height: 170px;
}
.box4{
    width: 140px;
    height: 40px;
    margin-bottom:10px;
    background-color: #ff863f;
    border: 5px solid white;
}
.box5{
    width: 140px;
    height: 40px;
    margin-bottom:10px;
    background-color: #ff863f;
    border: 5px solid white;
}
.box6{
    width: 140px;
    height: 40px;
    background-color: #ff863f;
    border: 5px solid white;
}
.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}